extends layout

block content
    .d-flex.justify-content-between
        h2.title= title +' ('+ users.length +')'
        .d-flex.align-items-center
            a.btn.btn-primary.mr-2(href="/users/download-csv") Export CSV
            a.btn.btn-primary.ml-2(href="/users/download-excel") Export Excel
    #alert-success.alert.alert-success(role="alert" style="display:none;")
    table.table
        tr
            th(scope="col") Name
            th(scope="col") Email Address
            th(scope="col")
        each user in users
            tr
                td(id="td-name-"+user.id)= user.name
                td(id="td-email-"+user.id)= user.email_id
                td
                    button.btn.btn-info.edit-user(type="button" data-id=user.id) Edit

    #update-modal.modal(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Update User
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                form#update-form(action="/users/update" method="POST")
                    .modal-body
                        #alert-error.alert.alert-danger(role="alert" style="display:none;")
                        input#hidden-user-id(type="hidden" value="" name="user_id")
                        .form-group
                            label(for="name") Name
                            input#user-name.form-control(type="text" placeholder="Name" required)
                        .form-group
                            label(for="email") Email Address
                            input#user-email.form-control(type="email" placeholder="Email Address" required)
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Update